APP_ENV=testing
APP_KEY=base64:jUcB6dKgaMrZoQZAml0TnJNOlkqkEYEK8C3wHvshn2M=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000

DB_CONNECTION=sqlite
DB_DATABASE=:memory:

CACHE_DRIVER=array
QUEUE_CONNECTION=sync
SESSION_DRIVER=array
SESSION_LIFETIME=120

MAIL_MAILER=log
