/vendor/
/node_modules/
/public/storage
/storage/*.key
/.env
/.env.*
/.env.local
/.DS_Store
/composer.phar
/public/hot
/public/build
/public/mix-manifest.json
npm-debug.log*
yarn-debug.log*
/.idea/
/.vscode/
/bootstrap/cache/*.php
/public/*.sql
/public/*.dump
/public/*.sql
/public/*.dump
