/.env
/.env.*
/vendor/
/node_modules/
/.idea/
/.vscode/
/.DS_Store
/public/*.sql
/public/*.dump
/public/storage
/storage/*.key
/public/hot
/public/build
/public/mix-manifest.json
**/google-services.json
**/GoogleService-Info.plist
**/*.keystore
**/*.jks
**/*.aab
**/*.apk
**/.dart_tool/
**/.flutter-plugins*
**/.packages
**/build/
